*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --text1: hsl(150 100% 8%);
  --text2: hsl(150 10% 60%);
  --bkg1: hsl(190 70% 94.5%);
  --bkg2: hsl(190 70% 99.5%);
  --accent1: hsl(150 100% 50% / .6);
  --accent2: hsl(190 100% 60% / .6);
  --gradient: linear-gradient(to right, var(--accent1), var(--accent2));
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bkg1);
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: var(--text1);
  padding: 2rem;
  background-image: url('./images/pattern.svg');
}

.review-container {
  background-color: var(--bkg2);
  border-radius: .5rem;
  position: relative;
  text-align: center;
}

.review-container::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: .5rem;
  background: var(--gradient);
  z-index: -1;
  transform: translate(4.5%, 5.5%) scale(.94);
  filter: blur(10px);
  opacity: .4;
}

.review-header {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0;
}

.review-header h2 {
  position: relative;
  font-size: clamp(1.3rem, 0.34545462rem + 4.363636vw, 2.8rem);
  z-index: 0;
  margin: auto;
}

.review-header h2::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--gradient);
  z-index: -1;
  transform: translateY(120%) scale(1.05);
  height: 50%;
  filter: blur(1px);
}

.review-header p {
  color: var(--text2);
}

.review-content {
  position: relative;
  max-width: 750px;
  width: calc(100vw - 4rem);
  padding: .5rem 0;
  /* overflow: hidden; */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: .4rem;
  color: var(--text2);
  z-index: 1;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.arrow:is(:hover, :focus){
  color: var(--text1);
}

.arrow svg {
  pointer-events: none;  
}

#arrow--right {
  right: 4%;
}

#arrow--right:is(:hover, :focus){
  transform: translate(10%, -50%);
}

#arrow--right::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
  z-index: -1;
  transform: translate(20%, -2%) scale(.6);
  inline-size: min(50px, 100%);
  block-size: min(50px, 100%);
  filter: blur(1px);
  transition: all 250ms ease-in-out;
}

#arrow--right:hover::before, #arrow--right:focus::before {
  transform: translate(4%, -2%) scale(.8);
}

#arrow--left {
  left: 4%;
}

#arrow--left:is(:hover, :focus){
  transform: translate(-10%, -50%);
}

#arrow--left::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
  z-index: -1;
  transform: translate(-20%, -2%) scale(.6);
  inline-size: min(50px, 100%);
  block-size: min(50px, 100%);
  filter: blur(1px);
  transition: all 250ms ease-in-out;
}

#arrow--left:hover::before, #arrow--left:focus::before {
  transform: translate(-4%, -2%) scale(.8);
}

.reviews {
  display: flex;
}

.review {
  padding: 0 2rem 2rem;
  flex: 1 0 100%;
  display: grid;
  max-width: 100%;
  place-items: center;
  gap: 1.3rem;
}

.review__headshot {
  position: relative;
  z-index: 0;
  inline-size: 120px;
  block-size: 120px;
}

.review__headshot img {
  inline-size: 120px;
  border-radius: 50%;
}

.review__headshot::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
  z-index: -1;
  transform: scale(1.05);
  filter: blur(1px);
}

.review__name {
  letter-spacing: .05rem;
  font-size: clamp(1.3rem, 1.10909097rem + 0.872727vw, 1.6rem);
}

.review__location {
  color: var(--text2);
  margin-top: -1rem;
  font-size: .9rem;
}

.review__body {
  max-width: 550px;
  margin: auto;
}





























